body{
  background-color: rgb(83, 98, 109);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2{
  text-align: center;
  display: inline-block;
  position: relative;
  left: 15%;
  color: rgb(236, 235, 235);
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

textarea {
    background:hsla(46, 35%, 80%, 1);
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
    border: none;
    color: rgb(82, 69, 69);
    width: 70%;
    height: 35rem;
    overflow-y: auto;
    resize: none;
    padding: 10px;
    &::placeholder {
      color:rgb(26, 2, 2);
    }
    margin-left: 15%;
    flex-basis: 100%;
    margin-right: 15%;
}
.save-button{
  &:hover{
    cursor: pointer;
  }
  display:inline-block;
  margin-top: 5px;
  margin-left: 15%;
  text-align: center;
  background-color: rgb(182, 151, 122);
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
}
.save-icon{
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
button > div > p {
  display: inline-block;
  margin: 0;
}
.note-link{
  border: 3px solid  rgb(182, 151, 122);
  margin-left: 10px;
  height: auto;
  font-family: sans-serif;
  margin-top: 5px;
  padding: 0;
  box-sizing: border-box;
  align-content:flex-start;
}
.link-text{
  margin: 0;
  position: relative;
  top: 5px;
}